@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  background-color: #f2f3f4;
  color: #100e17;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

.merriweather-light {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 390;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.post-content p {
  margin-bottom: 0.5rem;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  padding-bottom: 0.5rem;

  font-weight: 390;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Merriweather Sans", sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: "Merriweather Sans", sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content blockquote {
  font-style: italic;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  background: #ddca7d;
  border-left: 3px solid #03045e;
  padding: 1rem 2rem;
  margin: 1rem 0;
}
